

/*text within the collapsable menu*/
.pos-f-t {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.list-unstyled a:link {
  color: black; background-color: transparent; text-decoration: none;}
.list-unstyled a:visited {
  color: black; background-color: transparent; text-decoration: none;}
.list-unstyled a:hover {
  color: black; background-color: transparent; text-decoration: none;}
.list-unstyled a:active {
  color: black; background-color: transparent; text-decoration: none;}

.p-4 img {
  display: block;
  margin: auto;
}

/*Navbar Menu and Button*/
.navbar button {
  display: block;
  margin: auto;
  padding: 0;
  outline: none;
  width: 100%;
}

.navbar-toggler-icon {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
  margin-top: 10px;
  width: auto;
}

/* Opening Jumbotron*/
.jumbotron {
  height: 500px;
  background: transparent;
}

.container {
  text-align: center;
}

.vertical-center {
  min-height: 50%;
  min-height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 577px) {
  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Social Media Sidebar */
#social_side_links {
	position: fixed;
  top: 200px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a i {
	display: block;
	max-width:40px;
  padding: 10px;
  color: black;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#social_side_links li a:hover {text-decoration: none;}

.photostyles {
  text-align: center;
}

.photostyles a {
  outline: none;
}

.section2 img {
  height: 300px;
  width: 300px;
  margin: 5px;
}

#spotify-small {
  margin-top: 8px;
  text-align: center;
}

.more-button button {
  width: 100%;
  background-color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
}

/*Display for mobile*/
@media (max-width: 719px) {
  .firstsection, .tabletsection {
    display: none;
  }

  .mobile-posts {
    display: inline;
  }

  #myDIV {
    display: none;
  }

  .photostyles h5 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/*Display for Tablet*/
@media (min-width: 720px) and (max-width: 941px) {
  .firstsection, .mobile-posts, #myDIV {
    display: none;
  }

  .tabletsection {
    display: inline;
  }

}


/*Display for Desktop*/
@media (min-width: 942px) {
  .firstsection {
    display: inline;
  }

  .tabletsection {
    display: none;
  }

  .mobile-posts {
    display: none;
  }
}

/* Subscription Section*/

.subscribe {
  text-align: center;
  height: 420px;
  padding: 35px;
  background: black;
  background-clip: content-box;
  margin-top: 75px;
  margin-bottom: 75px;
}

.subscribe h2 {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 35px;
  color: #ffffff;
}

.subscribe p {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
  color: #ffffff;
}

#form1 {
  color: #ffffff;
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
}

#form1 [type=email] {
  width: 40%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  padding: 2px;
}

#form1 [type=text] {
  width: 25%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  padding: 2px;
}

.subscribe [type=button] {
  background-color: transparent;
  border: white;
  padding: 12px 20px;
  margin-top: 20px;
  color: #ffffff;
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  outline: none;
}

.subscribe [type=button]:hover {
    background-color: #ffffff;
    font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
    color: #000000;
    text-transform: uppercase;
}

/*Contact Area */

#top {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: -10px;
}

#middle {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 15px;
}

#bottom {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 15px;
}
#bottom a:link {
  color: black; background-color: transparent; text-decoration: none;}
#bottom a:visited {
  color: black; background-color: transparent; text-decoration: none;}
#bottom a:hover {
  color: black; background-color: transparent; text-decoration: none;}
#bottom a:active {
  color: black; background-color: transparent; text-decoration: none;}



input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px !important;
    resize: vertical;
    outline: none;
}

input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    outline: none;
}

#contact-contain [type=submit]:hover {
    background-color: #000000;
    font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

#contact-contain label {
    font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing; 2px
}

#contact-contain {
    border-radius: 5px;
    padding: 20px;
}
/*
#contact-contain {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
}

input[type=text], select, textarea,  {
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
  width: 50%;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: both;
}

input[type=submit] {
  border: #000000;
  outline: none;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'Maddon', 'Open Sans Condensed', sans-serif;
}

input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff;
}
*/
